In [3]:
#import dependencies
# !pip install yfinance
# !pip install pandas_datareader
# !pip install pandas
import pandas as pd
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb
from datetime import date

In [13]:
#create dataframe to hold the information of Tickers
info_df = pd.DataFrame({"Ticker" : ["WD", "PFSI", "LDI", "GHI", "COOP", "AFL", "HIG", "PRU", "ALL", "PGR", "MS", "BLK", "GS", "TROW", "BEN", "V", "MA", "AXP", "DFS", "COF",
                                    "QCOM", "TXN", "ADI", "MU", "ARM", "CRM", "SAP", "INTU", "NOW", "ZI", "AAPL", "MSFT", "SONY", "LPL", "SONO", "ACN", "IBM", "FI", "INFY", "CTSH",
                                    "ISRG","BDX","ALC","WST","RMD","UNH","ELV", "CVS","CI","HUM","NVO","VRTX","REGN","AMGN","MRNA","PFE","JNJ","LLY","AZN", "MRK",
                                    "CPRT", "KMX", "PAG", "LAD", "AN", "MBLY", "APTV", "MGA", "LKQ", "ALV", "TSLA", "TM", "HMC", "GM", "F", "NVDA", "TSM", "AVGO", "AMD", "INTC"],
                        "Industry" : "",
                        "Sector" : ""})

info_df["Industry"].iloc[0:5] ="Mortgage"
info_df["Industry"].iloc[5:10] ="Insurance"
info_df["Industry"].iloc[10:15] ="Asset Management"
info_df["Industry"].iloc[15:20] ="Credit Services"

info_df["Industry"].iloc[20:25] ="Semiconductors"
info_df["Industry"].iloc[25:30] ="Software"
info_df["Industry"].iloc[30:35] ="Consumer"
info_df["Industry"].iloc[35:40] ="Infotech"

info_df["Industry"].iloc[40:45] = "Healthcare plans"
info_df["Industry"].iloc[45:50] = "Healthcare plans"
info_df["Industry"].iloc[50:55] = "Biotechnology"
info_df["Industry"].iloc[55:60] = "Drug Manufacturers"

info_df["Industry"].iloc[60:65] = "Auto & Truck Dealerships"
info_df["Industry"].iloc[65:70] = "Auto Parts"
info_df["Industry"].iloc[70:75] = "Auto Manufacturers"
info_df["Industry"].iloc[75:80] = "Semiconductors"

info_df["Sector"].iloc[0:20] = "Finance"
info_df["Sector"].iloc[20:40] = "Technology"
info_df["Sector"].iloc[40:60] = "Healthcare"
info_df["Sector"].iloc[60:80] = "Automobile"

#Display dataframe
info_df

   Ticker        Industry      Sector
0      WD        Mortgage     Finance
1    PFSI        Mortgage     Finance
2     LDI        Mortgage     Finance
3     GHI        Mortgage     Finance
4    COOP        Mortgage     Finance
..    ...             ...         ...
75   NVDA  Semiconductors  Automobile
76    TSM  Semiconductors  Automobile
77   AVGO  Semiconductors  Automobile
78    AMD  Semiconductors  Automobile
79   INTC  Semiconductors  Automobile

[80 rows x 3 columns]

In [14]:
#set end date for today's date for up to date data
end = date.today()
#List to append data temporarily
ls= []
#dataframe to hold all the retrieved data
final_df = {}

#loop through each ticker in info_df
for sym in info_df["Ticker"]:

    #store data retrieved a Ticker from 2018-01-01 to today's date
    stock_data = wb.DataReader({sym}, start='2018-1-1', end= end)
    stock_data["Ticker"] = sym

    #appennding the data in ls list
    ls.append(stock_data)

    #concate that ls to final_df dataframe
    final_df = pd.concat(ls)
#show the dataframe
final_df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Ticker
Date,,,,,,,
2018-01-02,47.700001,47.919998,47.259998,47.320000,40.667938,181300,WD
2018-01-03,47.230000,47.230000,46.090000,46.130001,39.645226,134800,WD
2018-01-04,46.189999,46.810001,46.090000,46.099998,39.619434,140200,WD
2018-01-05,46.110001,48.060001,45.349998,47.980000,41.235138,336900,WD
2018-01-08,48.160000,48.880001,47.369999,47.820000,41.097637,310100,WD
...,...,...,...,...,...,...,...
2024-05-20,31.850000,32.419998,31.760000,32.099998,32.099998,31989000,INTC
2024-05-21,31.980000,32.240002,31.620001,31.740000,31.740000,42975400,INTC
2024-05-22,31.910000,32.070000,31.100000,31.420000,31.420000,36706400,INTC
2024-05-23,31.450001,31.570000,29.870001,30.080000,30.080000,62014500,INTC
2024-05-24,30.290001,31.020000,30.129999,30.719999,30.719999,42408200,INTC

In [15]:
#merging the dataframes to show sector and industry
finance_tech_df = pd.merge(final_df, info_df, on = "Ticker", how = "left")
finance_tech_df["Date"] = final_df.index
finance_tech_df = finance_tech_df[["Date", "Open", "High", "Low", "Close", "Volume", "Ticker", "Industry", "Sector"]]

#show the result
finance_tech_df

,Date,Ticker,Sector,Industry,Open,High,Low,Close,Volume
0,2018-01-02,WD,Finance,Mortgage,47.700001,47.919998,47.259998,47.320000,181300
1,2018-01-03,WD,Finance,Mortgage,47.230000,47.230000,46.090000,46.130001,134800
2,2018-01-04,WD,Finance,Mortgage,46.189999,46.810001,46.090000,46.099998,140200
3,2018-01-05,WD,Finance,Mortgage,46.110001,48.060001,45.349998,47.980000,336900
4,2018-01-08,WD,Finance,Mortgage,48.160000,48.880001,47.369999,47.820000,310100
...,...,...,...,...,...,...,...,...,...
124056,2024-05-20,INTC,Automobile,Semiconductors,31.850000,32.419998,31.760000,32.099998,31989000
124057,2024-05-21,INTC,Automobile,Semiconductors,31.980000,32.240002,31.620001,31.740000,42975400
124058,2024-05-22,INTC,Automobile,Semiconductors,31.910000,32.070000,31.100000,31.420000,36706400
124059,2024-05-23,INTC,Automobile,Semiconductors,31.450001,31.570000,29.870001,30.080000,62014500
124060,2024-05-24,INTC,Automobile,Semiconductors,30.290001,31.020000,30.129999,30.719999,42408200

In [7]:
#create a csvfile
finance_tech_df.to_csv("Datasets/Finance_Tech_data.csv", index = False)